:root{
    --hf-bg-color: #2874a6;
    --hf-text-color: white;

    --n-bg-color: #2874a6;
    --n-text-color: white;    

    --sa-title-color: #2874a6;
    --sa-text-color: black;
    --sa-bg-color: white;
}

[data-theme="dark"] {
    --hf-bg-color: black;
    --hf-text-color: white;

    --n-bg-color: #444;
    --n-text-color: white;    

    --sa-title-color: white;
    --sa-text-color: #ddd;
    --sa-bg-color: #222;
}


  

body {
    font-family: 'Quicksand', sans-serif;
}


header, footer {
    background-color: var(--hf-bg-color);
    color: var(--hf-text-color);
}

header h1 {
    margin: 10px 0;
    padding: 0;
    font-size: 40px;
	font-variant-caps: small-caps; 
    text-align: center;
}

header img {
    display: none;
}

@media screen and (orientation: portrait) {
    header img {
        display: block;
        float: right;
        margin: 10px;
        height: 50px;
        padding: 0;
    }
}
/************** La barre de navigation NAV ******************/
nav {
    padding: 0 20px;
    background-color: var(--n-bg-color);
    color: var(--n-text-color);
    /* font-size: 1rem; */
}
nav div {
    text-align: center;
}
nav a {
    font-size: 20px;
    color: var(--n-text-color);
    margin: 0px 0px;
    padding: 0 10px;
	font-variant-caps: small-caps; 
    text-decoration: none;
}

@media screen and (orientation: portrait) {
    nav div {
        text-align: left;
        padding: 30px 0;
        font-size: 30px; 
    }
    nav a {
        font-size: 30px;
        font-variant-caps: small-caps; 
        text-decoration: none;
    }
}

nav div:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid var(--n-text-color);
    transition-duration: 0.3s;
}

/*    La section princiapale */
section, aside {
    background-color: var(--sa-bg-color);
    color: var(--sa-text-color);
    padding: 10px;
}

/****** Le aside ASIDE *******/
aside {
    /* margin: 10px 0px 10px 10px; */
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        var(--sa-bg-color),
        var(--sa-title-color), 
        var(--sa-bg-color)
      ) 1 100%;
    /* border-left: 0.05em solid linear-gradient(var(--sa-bg-color), var(--sa-title-color), var(--sa-bg-color)); */
    /* border-radius: 10px; */
}

/************* Le pied de page FOOTER *******************/
footer div {
    margin: 5px 0 0 30px;
    padding: 0;
}



footer h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
	font-variant-caps: small-caps; 
    color: var(--hnf-text-color);
}
footer p {
    margin: 0;
    padding:0;
    font-size: 0.8;
    font-weight: 100;
    color: var(--hnf-text-color);
}

footer a {
    display: block;
    margin: 5px;
    padding:0;
    font-size: 20px;
    font-weight: 100;
    color: var(--hnf-text-color);
    text-decoration: none;
}

footer button {
	background-color: var(--hf-bg-color);
	color: var(--hf-text-color);
	border: 1px solid var(--hf-text-color);
	border-radius: 5px;
    font-size: 20px;
}



/************ La section principale *************/
section h1, aside h1 {
    color: var(--sa-title-color)
}
